.footer-top {
	background-color: #353E48;
	font-size: 16px;
	color: #FFF;
}

.footer-start-group {
	margin: 0px 20px;
	padding: 40px 0px 40px; 
	border-bottom: 1px solid hsla(0, 0% ,100% , .2);
}

.footer-start-group-link {
	color: #FFF;
	text-decoration: underline;
}

.footer-start-group-link:hover {
	color: #FFF;
	text-decoration: none;
}

.footer-flex-all-block {
	display: flex;
	justify-content: space-between;
	margin: 0px 20px;
	padding: 40px 0px;
}
.title-your-account,
.title-discover,
.title-meetup {
	padding-bottom: 20px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 550 !important;
}


.list-your-account, .list-discover, .list-discover {
	list-style: none;
	padding: 0px;
}

.list-your-account li,
.list-discover li,
.list-discover li {
	padding-bottom: 20px;
	color: hsla(0, 0%, 100%, 0.7);
}

.icon-follow-us span {
	padding-right: 20px;
	opacity: 70%;
}

.language {
	position: relative;
}

.language select {
	margin-top: 40px;
	height: 65px;
	width: 100%;
	border: 1px solid hsla(0, 0%, 100%, 0.2);
	border-radius: 4px;
	background-color: #0F1721;
	color: #FFF;
	padding: 20px;
	-webkit-appearance: none;
}

.language select:hover {
	border: 1px solid #A2A2A2;
}

.language span {
	position: absolute;
	right: 20px;
	bottom: 22px;
	pointer-events: none;
}

.footer-bot {
	background-color: #2F363F;
	color: #FFF;
}

.footer-bot-content {
	padding: 20px;
}

.terms-and-privacy {
	margin-top: 20px;
}